/*@media only screen and (max-width: 1400px) {  */

/* var les coulour  */
:root {
  --primaryColor: #0065fc;
  --secondaryColor: #deebff;
  --dgColor: #d9d9d9;
  --grisColor: #f2f2f2;
}

/* les parametre  general de projet  */
* {
  padding: 5px 4px;

  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

/* le positionment de la petite img dans le O de  logo   */
.img {
  position: relative;
  right: 39px;
  top: -4px;
}

.header {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.buttonHeader {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.buttonHeader li {
  margin-right: 20px;
  text-decoration: none;
}

 .hebarg:hover{
  border-top: solid 3px var(--primaryColor);
  padding-top:  45px;
 }



.titre h1 {
  font-size: 22px;
}
.titre {
  margin-bottom: 20px;
}

.cherche {
  display: flex;
  flex-direction: column;
}

/* /////////////////////from//////////////////*/
.from-recherche {
  display: flex;
  align-items: stretch;
  margin-bottom: 32px;
  justify-content: flex-start;
  height: 54px;
}
.fa-location-dot {
  background-color: var(--dgColor);
  border: 15px solid var(--dgColor);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
}
.input {
  max-width: 244px;
  font-weight: bold;
  border: 1px solid var(--dgColor);
  font-size: 18px;
}
.recherche {
  width: 136px;
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
  text-align: center;
}

.recherche span {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* ///////////// la loupe le btn de recherche  desactiver  pour///////////// */
.recherche i {
  display: none;
}

/* ///////////////////////// block filters ///////////////////////////////:*/
.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-start;
}

.block-Filtres {
  display: flex;
  align-items: center;
  margin: 7px;
  border: 1px solid var(--dgColor);
  border-radius: 56px 50px 50px 60px;
  height: 18px;
  padding: 10px 10px 10px 0;
}
/* ///////////////////////// block filters hover ///////////////////////////////:*/

.block-Filtres:hover {
  background-color: var(--secondaryColor);
}

.block-Filtres p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.block-Filtres p a {
  text-decoration: none;
  font-weight: bolder;
}
.color {
  color: var(--primaryColor);
}
.block-Filtres i {
  background-color: var(--secondaryColor);
  border-radius: 50px;
  padding: 12px 14px 13px 14px;
}


.filtreContenteVide {
  display:none;
}

/*Plus de 500 logements*/

.info {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}

.fa-info {
  border: 1px solid var(--grisColor);
  border-radius: 30px;
  text-align: center;
  width: 22px;
}

.info p {
  padding-left: 24px;
}

/* ////////////  Main/////////////////*/
.lesHotels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/*    section Hebergements à Marseille */
.maisons {
  display: grid;
  column-gap: 30px;
  padding: 0px;
  align-items: center;
  row-gap: 29px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
}

.hebergements {
  background-color: var(--grisColor);
  border-radius: 20px;
  width: 65%;

  padding: 0px;
  box-shadow: 0px 0px 6px 0px #0000002e;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.hebergements h2 {
  padding: 18px 31px;
  font-size: 20px;
}

/*///la coloun de maison Hebergements à Marseille */
.maison {
  background-color: white;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 20px;
  justify-content: center;
  margin: 21px;
}

.maison img {
  background-size: cover;
  height: auto;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  padding:1px;
}

.marginHebergementsInfo {
  margin: -5px 7px -21px 1px;
}

.hebergementInfo {
  display: flex;
  flex-direction: column;
   padding-left: 24px;
  padding-left: 10px;
}

.pharagraph{
  font-size: 14px;
}

.starsHebergement {
  display: flex;
  flex-direction: row;
  margin-top: -24px;
  margin-left: -5px;
}

.hebergementsHref {
  margin: 46px 0px 44px 38px;
}

.hebergementsHref:hover {
  cursor: pointer;
}

/*positioner les stars*/
.stars {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0px;
}

.star {
  font-size: 13px;
  margin-right: -6px;
}

.gris {
  color: var(--grisColor);
}
.gris:hover {
  color: var(--primaryColor);
}

/* ///////populaire////////////*/

.margininfo {
  margin: 12px 8px -14px -4px;
}

.populaires {
  background-color: var(--grisColor);
  width: 30%;
  height: auto;
  box-shadow: 0px 0px 6px 0px #0000002e;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.titrePopulaires {
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding-top: 12px;
}

.titrePopulaires h2 {
  font-size: 20px;
}

.maisonsPopulaires {
  row-gap: 0px;
  margin-top: 16px;
  display: grid;
  justify-content: center;
}

.populairesMaison {
  background-color: white;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 0px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

.populairesMaison img {
  background-size: cover;
  height: auto;
  border-radius: 20px ;
  padding:1px;
}
.populairesContenteVide {
  flex: 1;
}
.populairestInfo {
  display: flex;
  width: 100%;

  flex-direction: column;
  row-gap: 0px;
  min-width: 59px;

  padding: 0px;
}
/* /////////////Activites à Marseille /////////////*/

.ActivitesaMarseille {
  height: auto;
  margin-top: 53px;
}

.lesActivites {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
}

.activites {
  background-color: white;
  box-shadow: 8px 8px 11px -6px #0000002e;
   display: flex;
  flex-direction: column;
  border-radius: 27px;
}

.activites img {
  width: 100%;
  object-fit: cover;
  margin-top: -20px;
  border-radius: 35px 35px 0px 0px;
}

.activites h6 {
  margin: 10px 48px -7px 18px;
  height: 37px;

}

.ActivitesaMarseille h2 span {
  font-size: 20px;
}
.ActivitesaMarseille h2 {
  font-size: 20px;
  padding-bottom: 18px;
  padding-left: 24px;
}
.photoMobil {
  display: none;
}
/*footer*/

footer {
  margin-top: 73px;

  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  height: auto;
  bottom: -13px;
  position: relative;
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer-titre {
  margin-bottom: 9px;
  font-size: 20px;
  padding-right: 50px;
}
